@{
    ViewData["Title"] = "Result";    
}

<div class="text-center">
    <h1 class="display-4">Result:</h1>
    
    <div id="result">
        @ViewData["Result"]
    </div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
</div>