@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Enter Encode Message:
    </p>
    <form method="post" action="Decode\Index">
    <input id="txtMsg" type="text" name="txtMsg" />
        <input type="submit" value="Send"/>
    </form>    
</div>
